name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create/Update GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/radial-build-menu.zip,dist/radial-build-menu.jar"
          allowUpdates: true
          replacesArtifacts: true
          bodyFile: "CHANGELOG.md"
          draft: false
